body{
   background-color: rgba(255, 251, 251, 0.975);
}

form {
    margin: 1 auto;
}

.form-row{
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.356);
    border-radius: 14px;
    margin-top: 1em; 
    padding: 3px;
    background-color:  rgba(255, 251, 251, 0.975);
}

form div + div {
    margin-top: 1em; 
}

input, textarea {
    font: 1.3em sans-serif;
    width: 100%;
}

.form-control{
    border-radius: 6px;
    border: 1px solid #1e90ff;
    width: 100%;
}

.form_1, .form_2, .form_4{
    gap: 20px;
    width: 100%;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

.form_3, .form-group{
    display: flex;
    align-items: center;
    flex-direction: column; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

#inputEmail5{
    width: 205%;

}

.btn-btn-primary{
    width: 110px; 
    margin-left: 46%;
    margin-top: 20px;
    border-radius: 10px;
    color:black;
    background-color: #1e90ff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 19px;
    height: 35px;
    cursor: pointer;
    background-color: #1E90FF;
    border: none;
    transition: 0.5s ease-in-out;
    margin: 1%;
    color: #ffde59;
}

button:hover{
    background-color: #ffde59;
    color: #1E90FF;
    transition: 0.4s ease-in-out;
    box-shadow: 0px 0px 10px #1e8fff8e;
}



.Cadastro{
    text-align: center;
    color: #1E90FF;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Cadastre-se{
    margin-top: 3;
    text-align: center;
    color: #1e90ff;
    text-decoration: none;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


@media  (max-width: 1000px){

    form{
        padding: 0;
    }

    .btn-btn-primary{
        margin-left: 111px;
    }

    #inputEmail5{
        width: 132%;
    }


    .form-row{
        height: 525px;
    }
}

@media  (max-width: 400px){
	.form-row{
        height: 555px;
		margin-bottom: 10px;
    }
	
	.btn-btn-primary{
        margin-top: 20px; 
    }
}

@media (min-width: 1000px){


    .form-control{
        border-radius: 6px;
        border: 1px solid #1e90ff;
        width: 95%;
    }


    .Cadastre-se{
        margin-top: 2;
        text-align: center; 
        width: 10%;
        text-decoration: none;
    }

    .btn-btn-primary{
        width:90px;  
        margin-left: 46%; 
    }

    .form-row{
        height: 555px;
    }


    form {
        padding: 2em;
    }
    
    .form-control{
        border: 1px solid #1e90ff;
    }
    

    #inputEmail5{
        width: 205%;
    }
    
}